@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body {
	width: 100%;
	height: 100%;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: Karla;
}

html {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

a {
	color: #00B7FF;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-family: Karla;

}

h3 {
	text-align: center;
	font-size: 1.5em;
	font-family: Karla;

}


h4 {
	text-align: center;
	font-size: 1.3em;
	font-family: Karla;

}

input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
	color: black;
}

p {
	margin-top: 1vh;
	text-align: center;
}

.row {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.view {
	height: 100%;
	padding: 0 0 0 0;
}

.btn-sidebar-grp {
	text-align: center;
	left: 35%;
}

.sidebar-section {
	height: 22%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	overflow-y: scroll;
}

.btn-sidebar-grp-1 {
	left: 34.2%; /*how can we fix this so it's center of sidebar*/
}

.posting-bar {
	background-color: #33cccc;
	padding: 15px;
	margin: 10px 10px;
	border-radius: 10px;
}

.modify-post-btn-grp {

}

.icon-list {
	display: inline-block;
}

.contentIcon {
	padding: 0 1px;
}

.post-title {
	display: block;
}

.post-desc {
	text-align: left;
	clear: both;
}

#map {
	z-index: 10;
	height: 100%;
}

#search {
	z-index: 20;
	display: block;
	position: relative;
	float: right;
	margin-right: 5%;
	margin-top: 2%;
	top: -100%;
	vertical-align: center;
	align-content: center;
}

#search-bar {
	border: 2px solid transparent;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	box-sizing: border-box;
	font-family: Roboto;
	padding: 0 11px 0 13px;
	font-size: 1.5em;
	font-weight: 300;
	height: 4vh;
	width: 20vw;
}

.footer {
	margin-top: 10px;
}

textarea {
    resize: none;
}

.label {
	font-size: 10px;
	font-size: 1rem;
	font-weight: normal;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #658db3;
}

.categories {
	display: inline-block;
	text-align: center;
	padding-bottom: 10px;
	align-content: center;
	margin: 0 auto;
	width: 100%;
}

.row-field {
	display: flex;
  flex-direction: row;
}

.btn-default1 {
	border: #A9A9A9 1px solid;
}

.btn-default1:hover {
	background-color: #D4D4D4;
}
