<div class="view" ng-controller="mainController">
	<div class="col-xs-3 view">
		<h1>Give & Take</h1>
		<br/>
		<h3 ng-if="isLoggedIn" class="btn-sidebar-grp">Hello, {{user.name}}</h3>
		<div ng-if="!isLoggedIn" class="btn-group btn-sidebar-grp">
			<button class="btn btn-primary" ng-click="openSignUpModal()">Sign Up</button>
			<button class="btn btn-primary" ng-click="openSignInModal()">Log In</button>
		</div>
		<br ng-if="!isLoggedIn"/>
		<br ng-if="!isLoggedIn"/>
		<div class="btn-group btn-sidebar-grp-1">
			<button class="btn btn-default1" ng-click="toggleFoodFilter()">
				<i class="fa fa-cutlery" style="color: #FF9900"></i>
			</button>
			<button class="btn btn-default1" ng-click="toggleShelterFilter()">
				<i class="fa fa-home" style="color: #00CC66"></i>
			</button>
			<button class="btn btn-default1" ng-click="toggleClothesFilter()">
				<i class="fa fa-black-tie" style="color: #3399FF"></i>
			</button>
			<button class="btn btn-default1" ng-click="toggleMiscFilter()">
				<i class="fa fa-archive" style="color: #CC99FF"></i>
			</button>
		</div>
		<br/>
		<br/>
		<div ng-if="isLoggedIn" class="btn-sidebar-grp">
			<button class="btn btn-primary" ng-click="openAddPostingModal()">
				<i class="fa fa-plus"></i>   Submit a posting</button>
			</div>

			<hr>
			<h4> From you: </h4>
			<div class="sidebar-section">
				<div class="btn-sidebar-grp posting-bar" ng-repeat="post in posts">
					<div class="post-title pull-left">
						<div class="icon-list" ng-repeat="serviceType in post.serviceType">
							<i class="fa fa-cutlery fa-1.5x contentIcon" ng-if="serviceType.value == 0"></i>
							<i class="fa fa-home fa-1.5x contentIcon" ng-if="serviceType.value == 1"></i>
							<i class="fa fa-black-tie fa-1.5x contentIcon" ng-if="serviceType.value == 2"></i>
							<i class="fa fa-archive fa-1.5x contentIcon" ng-if="serviceType.value == 3"></i>
						</div>
						{{post.title}}
					</div>
					<div class="post-desc" ng-click="openPostingModal(post)">{{post.serviceContent}}</div>
					<div class="modify-post-btn-grp pull-right">
						<button class="btn"><i class="fa fa-wrench fa-1.5x" ng-click="openEditPostingModal(post)"></i></button>
						<button class="btn"><i class="fa fa-trash fa-1.5x" ></i></button>
					</div>
				</div>
			</div>

			<hr>
			<h4> From everyone: </h4>
			<div class="sidebar-section">
				<div class="btn-sidebar-grp posting-bar" ng-repeat="post in completeSetPosts">
					<div class="post-title pull-left">
						<div class="icon-list" ng-repeat="serviceType in post.serviceType">
							<i class="fa fa-cutlery fa-1.5x contentIcon" ng-if="serviceType.value == 0"></i>
							<i class="fa fa-home fa-1.5x contentIcon" ng-if="serviceType.value == 1"></i>
							<i class="fa fa-black-tie fa-1.5x contentIcon" ng-if="serviceType.value == 2"></i>
							<i class="fa fa-archive fa-1.5x contentIcon" ng-if="serviceType.value == 3"></i>
						</div>
						{{post.title}}
					</div>
					<div class="post-desc" ng-click="openPostingModal(post)">{{post.serviceContent}}</div>
					<div class="modify-post-btn-grp pull-right">
						<button class="btn"><i class="fa fa-wrench fa-1.5x" ng-click="openEditPostingModal()"></i></button>
						<button class="btn"><i class="fa fa-trash fa-1.5x"></i></button>
					</div>
				</div>
			</div>


			<div ng-if="isLoggedIn" class="btn-sidebar-grp footer">
				<button class="btn btn-danger" ng-click="logout()">
					Logout</button>
				</div>
			</div>
			<div class="col-xs-9 view">
				<div id="map"></div>
				<div id="search">
					<input id="search-bar" type="text" name="search" placeholder="Search" ng-model="search">
				</div>
			</div>
		</div>
