<div class="modal-content">
	<div class="modal-header">
		<h1>Inbox</h1>
	</div>
	<div class="modal-body">
		<div class="btn-group btn-sidebar-grp-1">
			<button class="btn btn-default1" ng-click="toggleView('inbox')">
				Inbox
			</button>
			<button class="btn btn-default1" ng-click="toggleView('send')">
				Send Message
			</button>
		</div>
		<br/>
		<br/>
		<div class="panel panel-danger" ng-show="showMessagingError">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span>{{messagingError}}</span>
				</h4>
			</div>
		</div>
		<i class="fa fa-spinner fa-spin" ng-show="didUserSubmit"></i>
		<div ng-if="messageView">
			<div>
				<div class="pull-left">
					<label>From: </label> {{ message.fromUser}}
				</div>
				<div class="pull-right">
					<label>At: </label> {{message.timestamp}}
				</div>
			</div>
			<br/>
			<br/>
			<label>Subject: </label> {{message.subject}}
			<br/>
			<label>Body: </label> {{message.content}}
			<br/>
		</div>
		<div ng-repeat="message in messages" ng-show="inboxView" ng-hide="didUserSubmit || sendView || messageView">
			<div style="height: 10%" ng-if="message">
				<div class="pull-left">
					<button class="btn btn-danger" style="margin-top: 18%" ng-click="openDeleteMessage(message)">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="mail pull-right" ng-click="openMessage(message)" style="width: 90%">
					<div class="pull-left">
						{{message.subject}}
					</div>
					<div class="pull-right">
						{{message.timestamp}}
					</div>
					<br/>
					<div class="post-desc">From {{message.fromUser}}</div>
				</div>
			</div>
		</div>
		<div ng-if="inboxView && messages.length == 0">
			<h3>No messages</h3>
		</div>
		<form ng-submit="submit()" ng-hide="didUserSubmit || !nboxView || messageView" ng-show="sendView">
			<label>To</label>
			<input type="to" class="form-control" placeholder="To" maxlength="25" ng-model="toUser">
			<br/>
			<label>Subject</label>
			<input type="subject" class="form-control" placeholder="Subject" maxlength="40" ng-model="subject">
			<br/>
			<label>Body</label>
			<textarea class="form-control" placeholder="Body" ng-model="content"></textarea>
		</form>
	</div>
	<div class="modal-footer">
		<input type="back" value="Back" ng-click="toggleView('inbox')" class="btn btn-default1" style="width:15%" ng-if="messageView"/>
		<input type="submit" value="Send" ng-click="send()" class="btn btn-primary" style="width: 15%" ng-if="sendView" ng-hide="didUserSubmit || inboxView || messageView"/>
		<input type="close" value="Close" ng-click="close()" class="btn btn-default" style="width:15%"/>
	</div>
</div>