<div class="modal-content">
	<div class="modal-header">
		<h1>Sign up</h1>
	</div>
	<div class="modal-body">
		<div class="panel panel-danger" ng-show="showSignUpError">
			<div class="panel-heading">
				<h4 class="panel-title">
					<span>{{signupError}}</span>
				</h4>
			</div>
		</div>
		<i class="fa fa-spinner fa-spin" ng-show="didUserSubmit"></i>
		<form ng-submit="submit()" ng-hide="didUserSubmit || showSuccess">

			<label>Please enter a username:</label>
			<input type="username" class="form-control" placeholder="Username"
			ng-model="username" required>

			<br/>

			<label>Please enter your email address:</label>
			<input type="email" class="form-control" placeholder="Email Address"
			ng-model="email" required>

			<br/>

			<label>What is your name?</label>
			<div class="row-field">
				<input type="firstname" class="form-control" placeholder="First name"
				ng-model="firstname" required>
				&nbsp; <!--This is a space-->
				<input type="surname" class="form-control" placeholder="Surname"
				ng-model="surname" required>
			</div>

			<br/>

			<label>Gender:</label><br/>
			<input type="radio" name="gender" value="male" checked> Male &nbsp;
			<input type="radio" name="gender" value="female"> Female &nbsp;
			<input type="radio" name="gender" value="other"> Other &nbsp;

			<br/>
			<br/>

			<label>Where do you live?</label>
			<input type="address" class="form-control" placeholder="Street Address"
			ng-model="address" required>
			<br/>
			<div class="row-field">
				<input type="city" class="form-control" placeholder="City"
				ng-model="city" required>
				&nbsp; <!--This is a space-->
				<input type="state" class="form-control" placeholder="State/Province"
				ng-model="state" required>
				&nbsp; <!--This is a space-->
				<input type="country" class="form-control" placeholder="Country"
				ng-model="country" required>
				&nbsp; <!--This is a space-->
				<input type="postalCode" class="form-control" placeholder="Postal Code"
				ng-model="postalCode" required>
			</div>

			<br/>

			<label>Please enter a password:</label>
			<input type="password" class="form-control" placeholder="Password" ng-model="password" required>

			<br/>

			<input type="password" class="form-control" placeholder="Re-enter Password" ng-model="passwordConfirm" required>

		</form>
	</div>
	<div class="modal-footer">
		<input type="submit" value="Sign Up" ng-click="signup()" class="btn btn-primary" style="width: 15%"/>
		<input type="close" value="Close" ng-click="close()" class="btn btn-default" style="width:15%"/>
	</div>
</div>
